

 *{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;

}

html{
    font-size: 62.5%;
}

 body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color:rgb(4, 0, 15);
    color: white;

} 

/* header contains logo and nav contents */
 header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

.logo{
    font-family: 'Nosifer', serif;
    font-size: 2.6rem;
    color: #f79bff;
    font-weight: 400;
    
    cursor: pointer; 
     transition: 0.5s ease;

}

.logo:hover{
    transform: scale(1.1);

}

nav a{
    font-size: 1.4rem;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{ 
color: #f79bff;
border-bottom: 3px solid #f79bff;

}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #f79bff;
        border-bottom: 3px solid #f79bff;
        border-bottom-left-radius: 2rem;
        background-color: rgb(4, 0, 15);
        border-top: 0.1rem solid rgba(0,0,0,0.1rem); 
        
    }

    nav .active{
        display: block;
    }

    nav a {
        display: block;
        font-size: 1.6rem;
        margin: 2.8rem 0; 
    }  

    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #f79bff;

    }

    .home .home-content h1{
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1rem;
    }

} 

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(4, 0, 15);

}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #f79bff;
}

h1 span{
    font-family: 'Nosifer', serif;
    font-weight: 400;
}

.home-content h3{
    font-size: 4rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.home-content h3 span{
    font-size: 4rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.4rem;

}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #f79bff;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;

}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #f79bff ;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #f79bff;

}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #f79bff;
    box-shadow:0 0 25px #f79bff;

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #f79bff;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #f79bff;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #f79bff;
    color: black;
    box-shadow: 0 0 25px #f79bff;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;

}

.typing-text span:before{
    content: "Software Developer";
    color: #f79bff;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    border-left: 3px solid rgb(4, 0, 15) ;

    right: -8;
    animation:cursor 0.6s infinite;
}

    /* border-left gives of the blink illusion by adoption the bg-color after some secs */

    /* @keyframes cursor{
    to{
        border-left: 3px solid #f79bff;
    }
 }
     gives the illustion of a blinking cursor when it turns pink and return to the bg-color*\


    /* 
    (Ai suggested)

    animation:blink 0.6s infinite;  */

/* @keyframes blink {
    0%, 100% { opacity: 1;}
        50% { opacity: 0; }
    } */


 @keyframes cursor{
    to{
        
        border-left: 3px solid #f79bff;
        
    }
 }

 @keyframes words{
    0%, 30%{
        content: " Web Designer";
    }
    31%, 60%{
        content: 'Web Developer';
    }

    61%, 80%{
        content: "UX Designer";
    }

    81%, 100%{
        content: "Frontend Developer";

    }

 }



 @media(max-width: 995px){
    .home{
        gap:4rem;
    }



 }



 @media(max-width: 900px){
    .home{
        flex-direction: column;
        justify-items: center;
        margin: 5rem 1.2rem;
        
    }

    

    .home .home-content h3{
        font-size: 3.2rem;
        margin-top: 2rem;
    }

    .home-content h1, h3, p{
        text-align: center;
        width: 100%;
        
    } 
   
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .social-icons{
        justify-self: center;
    }

    .button{
        justify-self: center;
    }
 }